@using DFProject.Models
@model Users
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />
<br />

@using (Html.BeginForm("AddAdmin", "Admin", FormMethod.Post))
{
    <div class="form-group" style="margin: auto; margin-top: 100px; width: 50%; height: 50%; padding: 10px;">
        @Html.Label("Ad")
        @Html.TextBoxFor(input => input.UserName, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Soyad")
        @Html.TextBoxFor(input => input.UserSurname, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("E-Posta")
        @Html.TextBoxFor(input => input.UserEmail, new { @class = "form-control" })
        <br /> <br />
        @Html.Label("Şifre")
        @Html.PasswordFor(input => input.Password, new { @class = "form-control" })
        <br /> <br />
        <button class="btn btn-success">Kaydet</button>
        <a href="/Admin/Login" class="btn btn-success">&lArr; Geri</a>
        @if (ViewBag.isSuccessful != null && ViewBag.isSuccessful == true)
        {
            <div style="color:green;">
                <span>Yeni yönetici başarıyle eklendi!</span>
            </div>
        }
    </div>
}
